<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<style type="text/css">
body {
font-size: 12px;
font-family: "Microsoft Yahei",Tahoma,Arial,Helvetica,STHeiti;
}
</style>
</head>
<body>
<h5>${titleContent}</h5>
#set($signDate = $signDate.substring(0,10))
<ul>
	<li>采购合同编号  ${purchaseContractCode}</li>
	<li>虚拟采购合同类型  ${contractExecuteCate}</li>
	<li>采购合同类别  ${purchaseContractType}</li>
	<li>签订人  ${signBy}</li>
	<li>采购合同性质  ${contractProperty}</li>
	<li>合同签订日期  ${signDate}</li>
	<li>首付 ${firstPay}</li>
	<li>收票类型  ${invoiceType}</li>
</ul>
<hr>
<strong style="color:red">注：附件为采购设备清单</strong>  

</body>
</html>